<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="color: white; background-image:linear-gradient(to right,rgba(0, 0, 0, 0.849),rgba(34, 9, 28, 0.73)),url(/pics/th\ \(7\).jfif)";>
  
<div class="container">
    <table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col"> Email</th>
      <th scope="col">Image</th>
      <th scope="col">Approve/Reject</th>
    </tr>
  </thead>
  {{#each request}}
  <body>
    <tr>
      <td>{{this.archiName}}</td>
      <td>{{this.email}}</td>
      <td><img style="width: 50px;height:50px;" src="/images/{{this._id}}.jpg" alt="image not found"></td>
      <td><a href="/admin/approve-req?email={{this.email}}&id={{this._id}}" class="btn btn-primary"><i class="fa fa-check"></i></a>
          <a href="/admin/delete-req/{{this._id}}" class="btn btn-danger" onclick="return confirm('are you want to delete the request {{this.archiName}}')" ><i class="fa fa-trash"></i></a>
      </td>
    </tr>
    {{/each}}
  </body>
</table>
</div>

</body>
</html>